<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <font size="6" color="blue" face="Comic Sans MS">
        <h1 align="center">Киноман</h1>
    </font>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:if="${user.username == 'Гость'}" th:href="@{/loginPage}">
                        <span th:text="${user.username}"></span>
                        <span> | Войти</span>
                    </a>
                    <a class="nav-item nav-link" th:if="${user.username != 'Гость'}" th:href="@{/logout}">
                        <span th:text="${user.username}"></span>
                        <span> | Выйти</span>
                    </a>
                    <a class="nav-item nav-link" th:href="@{/registrationPage}">Регистрация</a>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <font size="6">
        <td th:text="${ses.name}"></td>
    </font>
    <br>
    <span>
        <img th:width="200" th:high="200" th:src="@{|/photoSession/${ses.id}|}">
    </span>
    <br>
    <br>
    <h5>Выберите место: </h5>
</head>
<body>
<form th:action="@{/info}" method="POST">
    <div>
        <input type="radio" id="1" checked
               name="0" value="1">
        <label for="1">1</label>

        <input type="radio" id="2"
               name="0" value="2">
        <label for="2">2</label>

        <input type="radio" id="3"
               name="0" value="3">
        <label for="3">3</label>

        <input type="radio" id="4"
               name="0" value="4">
        <label for="4">4</label>

        <input type="radio" id="5"
               name="0" value="5">
        <label for="5">5</label>

        <input type="radio" id="6"
               name="0" value="6">
        <label for="6">6</label>

        <input type="radio" id="7"
               name="0" value="7">
        <label for="7">7</label>

        <input type="radio" id="8"
               name="0" value="8">
        <label for="8">8</label>

        <input type="radio" id="9"
               name="0" value="9">
        <label for="9">9</label>

        <input type="radio" id="10"
               name="0" value="10">
        <label for="10">10</label>

        <input type="radio" id="11"
               name="0" value="11">
        <label for="11">11</label>

        <input type="radio" id="12"
               name="0" value="12">
        <label for="12">12</label>

        <input type="radio" id="13"
               name="0" value="13">
        <label for="13">13</label>

        <input type="radio" id="14"
               name="0" value="14">
        <label for="14">14</label>

        <input type="radio" id="15"
               name="0" value="15">
        <label for="15">15</label>
    </div>
    <button type="submit" class="btn btn-primary">Забронировать</button>
</form>
</body>
</html>